

.acessorios-class{
    background: rgba(15, 69, 78, 0.356);
}


.d-flex{
    gap: 5px;
}
.navbar{
    border-radius: 30px 10px;
}

.acessorios{
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height:auto;
    background: rgb(3, 102, 141);
    border: solid 1px rgb(17, 16, 16);
    color: rgb(240, 232, 232);
    border-radius: 30px 10px;
}


/* fazer desta froma se for acresentar outras colunas de check- box */
/* .acessorios{
    margin: 0 auto;
    width: auto;
    height:auto;                                 
    background: rgb(3, 102, 141);
    border: solid 1px rgb(17, 16, 16);
    color: rgb(240, 232, 232);
} */

.caixa-de-check{
    margin: 5px;
      
}

.imagem-lupa{
    width: 20px;
}


.segunda-sec-de-check{
    display: flex;
}